body {
    display: flex;
    margin: 0;
}

nav {
    flex: 1;
    background-color: red;
    color: white;
    padding-top: 15px;
    height:100vh;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
    padding: 15px 200px 15px 0px;
    margin: 0px 15px;
}

a:hover {
    background-color: rgb(255, 147, 147);
    color: red;
}

#not_nav {
    flex: 4;
}

header {
    height: 20%;
}

#not_header {
    display: flex;
}

header, footer {
    background-color: rgb(138, 199, 38);
}

article {
    height: 60%;
}

footer {
    height: 26%;
}

#not_aside {
    flex: 1;
}

aside {
    background-color: rgb(242, 244, 211);
    height: 72vh;
}

header, article, aside, footer {
    padding: 20px;
}
