body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

header, footer {
    background-color: rgb(138, 199, 38);
    padding: 20px;
    height: 16vh;
/*    height: 140px; */
}

#center_part {
    display: flex;
    height: 60vh;
/*    height: 552px; */
}

#white_bg {
    display: flex;
    flex-direction: column;
    order: 1;
    flex: 2;
    color: red;
    text-align: left;
    justify-content: space-between;
}

#colored_boxes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: black;
    margin: 2%;
    margin-top: 10%;
}

.box {
    display: flex;
    align-items: center;
    padding: 4% 10% 4% 1%;
}

#box1 {
    background-color: goldenrod;
}

#box2 {
    background-color: orangered;
}

#box3 {
    background-color: red;
    font-size: 2.5em;
    height: 150%;
}

#box4 {
    background-color: lightgray;
}

#box5 {
    background-color: grey;
}

#text {
    font-size: 1.8em;
    padding-left: 25px;
}

nav {
    order: 3;
    flex: 1;
    background-color: red;
    color: white;
    padding-top: 15px;
}

.menu:hover {
    background-color: rgb(255, 147, 147);
    color: red;
}

.menu {
    padding: 15px 200px 15px 0px;
    margin: 0px 15px;
}

aside {
    order: 2;
    flex: 1;
    background-color: blue;
    padding: 15px;
    color: white;
}

